body {
    background: #eee url(../../images/bg/atc.jpg);
}

header {
    background: #D16A78;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    margin-bottom: 40px;
}

#public-nav-main .navbar-toggle {
    top: 210px;
}

#public-nav-main .navbar-header {
    padding: 0 0 20px 0;
}

#public-nav-main .navbar-collapse {
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#public-nav-main .navbar-search {
    margin-top: 20px;
}

#public-nav-main .navbar-nav {
    background: none;
    border: none;
    box-shadow: none;
}

#public-nav-main .navbar-nav > li > a {
    border-bottom: 1px solid #6F7A7F;
    color: #D16A78;
}

#public-nav-main .navbar-nav > li:last-child > a {
    border-bottom: none;
}

#public-nav-main .navbar-nav > li.active > a {
    background: none;
}

#public-nav-main .navbar-nav > li > a:hover,
#public-nav-main .navbar-nav > li > a:focus {
    text-decoration: underline !important;
}

main {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

main h1 {
    color: #6F7A7F;
    font-weight: bold;
}

footer {
    background: #EFF6D1;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-top: 40px;
    padding: 16px;
}

@media (min-width: 768px) {
    main {
        padding: 40px;
    }

    .featured-carousel {
        margin: -40px;
        margin-bottom: 1em;
    }

    .featured-carousel-control {
        margin-right: 40px;
    }

    .featured-carousel-display a div {
        padding-right: 40px;
    }
}
