body {
    background: #fff url(../../images/bg/bpcl.png);
}

header {
    background: #E2E2E2;
}

#public-nav-main {
    background: #90C996;
    margin: 0 -9998px;
    padding: 0 9999px;
}

#public-nav-main .navbar-brand {
    display: none;
}

#public-nav-main .navbar-toggle {
    margin: 8px 0;
}

#public-nav-main .nav {
    background: none;
    border: none;
    box-shadow: none;
    float: none !important;
}

#public-nav-main .navbar-nav > li > a {
    border-radius: 0;
    color: #fff;
    text-shadow: none;
}

#public-nav-main .navbar-nav > li.active > a {
    background: #fff;
    color: #90C996;
    box-shadow: none;
}

.item.show #public-nav-main .navbar-nav > li.active > a {
    background: inherit;
    color: #fff;
}

#public-nav-main .navbar-nav > li > a:hover,
#public-nav-main .navbar-nav > li > a:focus {
    background: #99D6A0 !important;
}

main {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding: 15px;
}

main h1 {
    color: #90C996;
}

#exhibit-pages {
    display: none !important;
}
