@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('../../fonts/goudystm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('../../fonts/goudystm-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

header {
    background: #fff;
    border-top: 16px solid #ff7300;
    margin-bottom: 8px;
}

#public-nav-main {
    margin: 0;
    min-height: 0;
}

#public-nav-main .navbar-brand,
#public-nav-main .nav {
    display: none;
}

#public-nav-main .navbar-toggle {
    margin: -80px 0 0 0;
}

#search-form-header {
    margin-top: 12px;
}

#search-bar-nav {
    margin-top: 0;
    padding-top: 0;
}

#content {
    min-height: calc(100vh - 221px);
}
